<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <title>Options</title>
    <meta content="width=device-width" name="viewport" />
    <!-- prettier-ignore -->
    <link data-integrity-src="lib/vuetify.min.css" href="lib/vuetify.min.css" rel="stylesheet" />
    <!-- prettier-ignore -->
    <link data-integrity-src="styles/options.css" href="styles/options.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <div class="red--text headline my-4">YouTube Speed Control</div>
        <v-slider
          v-model="iSpeedReversed"
          :max="labelSpeedsReversed.length - 1"
          :tick-labels="labelSpeedsReversed"
          class="flex-grow-0 mb-6"
          thumb-color="blue"
          tick-size="5"
          vertical
        ></v-slider>

        <div
          v-if="isOfferRate || isOfferSupport"
          class="mx-auto mb-5 max-width--offers"
        >
          {{ i18n.labelLikeHeader }}
          <div v-if="isOfferRate">
            <a :href="linkRating" class="link" data-offer="rate">
              {{ i18n.labelRate }}
            </a>
          </div>

          <div v-if="isOfferSupport">
            <a class="link" data-offer="support" href="https://paypal.me/avi12">
              {{ isOfferRate ? i18n.labelAlsoSupport : i18n.labelSupport }}
            </a>
          </div>
        </div>
      </v-app>
    </div>
    <script data-integrity-src="lib/vue.min.js" src="lib/vue.min.js"></script>
    <!-- prettier-ignore -->
    <script data-integrity-src="lib/vuetify.min.js" src="lib/vuetify.min.js"></script>

    <!-- prettier-ignore -->
    <script data-integrity-src="scripts/yt-speed-control-setup-utils.js" src="scripts/yt-speed-control-setup-utils.js"></script>
    <!-- prettier-ignore -->
    <script data-integrity-src="scripts/options.js" src="scripts/options.js"></script>
  </body>
</html>
